/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* #myName{
      position: absolute;
      max-width:50%;
      margin: 0 auto;
      top: 33%;
      left: 50vw;
      transform: translate(-50%,0);
      -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
      text-align:center;
      background-color: #ffafff;
    }*/

    html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}

   #particles-js{
     position: absolute;
     top:0;
     bottom: 0;
     left:0;
     right:0;
     z-index: 1;
     overflow: scroll;
     background-color: #4d4c4c;
     overflow-x: hidden !important;

   }



   .text-bg{
     position:absolute;
     max-width:600px;
     z-index: 1000;
     left: 0;
     right: 0;
     margin-top: 150px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
   }

   .top-bar{
     text-align: center;
     padding:0px 0px 15px;
   }

   .project-image{
     float:left;
     padding-right:20px;
   }

   #bar-split{
     font-size:15pt;
     font-family: "San Francisco";
     font-weight:100;
     padding-left: 30px;
     padding-right:30px;
   }

   .satellite{
     position: absolute;
     top:-25%;
     background-image: url("img/satellite.png");
     left:80%;
     overflow:hidden;
   }
   .moon{
     position: absolute;
     top:-2%;
     background-image: url("img/satellite.png");
     left:40%;
     overflow:hidden;
   }

   .rocket{
     position: absolute;
     top:-4%;
     background-image: url("img/satellite.png");
     left:88%;
     margin-left:10%;
     overflow:hidden;
   }

   #slide-right{
   position: absolute;
   transform:rotate(200);
   left: 200%;
   opacity: 0;
   -webkit-animation: slide 0.8s forwards;
   -webkit-animation-delay: 0s;
   animation: slide 0.87s forwards;
   animation-delay:0.75s;
  }

  @-webkit-keyframes slide {
     from {opacity: 0;}
     100% { left: 100%; opacity: 100; transform:rotate(0);}
  }

  @keyframes slide {
    from {opacity: 20%;}
     to { left: 76%; opacity: 100; transform:rotate(0);}
  }

  #slide-right2{
  position: absolute;
  left: 200%;
  opacity: 0;
  -webkit-animation: slide3 0.8s forwards;
  -webkit-animation-delay: 0s;
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  animation: slide3 1s forwards;
  animation-delay:1.55s;
  }

  @-webkit-keyframes slide3 {
    0% {opacity: 0}
    100% { left: 100%; opacity: 100;}
  }

  @keyframes slide3 {
   75% {opacity: 20%;}
    100% { left: 80%; opacity: 100;}
  }
  #slide-left{
  position: absolute;
  left: -200%;
  opacity: 0;
  -webkit-animation: slidel 0.8s forwards;
  -webkit-animation-delay: 0s;
  animation: slidel 1s forwards;
  animation-delay:1s;
 }

 @-webkit-keyframes slidel {
    0% {opacity: 0}
    100% { left: 0%; opacity: 100;}
 }

 @keyframes slidel {
   75% {opacity: 20%;}
    100% { left: -10%; opacity: 100;}
 }

 #fade-in1{
   opacity: 0;
   -webkit-animation: fadein 2s;
   animation: fadein 1s;
   animation-delay: 1.05s;
   animation-fill-mode:forwards; /*when the spec is finished*/

 }
 #fade-in2{
   opacity: 0;
   -webkit-animation: fadein 2s;
   animation: fadein 1s;
   animation-delay: 1.25s;
   animation-fill-mode:forwards; /*when the spec is finished*/
 }
 #fade-in3{
   opacity: 0;
   -webkit-animation: fadein 2s;
   animation: fadein 1s;
   animation-delay: 1.75s;
   animation-fill-mode:forwards; /*when the spec is finished*/
 }

 @keyframes fadein {
   from {opacity: 0;}
   to {
     opacity: 1;
   }
 }
 @-webkit-keyframes fadein {
   from {opacity: 0;}
   to {
     opacity: 1;
   }
 }


   @media only screen and (max-width: 750px){
     #particles-js{
       height:140%;
       background-color: #4d4d4d;
     }

     .text-bg{
       position:absolute;
       max-width:350px;
       z-index: 1000;
       left: 50;
       right: 50;
       margin-top: 150px;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
     }

     .satellite{
       position: absolute;
       top:-20%;
       background-image: url("img/satellite.png");
       left:77%;
     }

     .moon{
       position: absolute;
       top:-2%;
       background-image: url("img/satellite.png");
       left:40%;
       overflow:hidden;
     }
     .rocket{
       position: absolute;
       top:-2%;
       background-image: url("img/satellite.png");
       left:60%;
       margin-left: 0;
       overflow:hidden;
     }

     .pins img{
       height:80px;
     }
   }



   .test{
     position:static;
   }

   #project01{
     text-align: center;
     padding:50px;
     font-size: 50px;
   }



   #image{
     position:absolute;
     transform: translateZ(5px);

   }
/*
   .project{
     opacity: 1;
     transition: all 0.8s ease-out;
   }
   .project.fade-in{
     opacity: 1;
   }*/
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
